<script charset="utf-8">
  var user_id = <%=@user.id%>
  var beer_id = <%=@user.beer.id%>
</script>
<div class="container-fluid">
  <%= render "layouts/userHeader"%>
  <section class="row">
    <div class="col-md-6 text-center">
      <div class="phaseHead">
        <h1 class="phaseHeaders">MASH</h1>
      </div>
      <div class="phaseGraph">

      </div>
      <br>
      <div class="buttonHolder">
        <button id="startMonitor" name="button">start</button>
      </div>
      <div class="buttonHolder">
        <button id="stopMonitor" name="button">stop</button>
      </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="temps">
            <p id="tempNumber">77</p>
            <i id="degree" class="fa fa-circle-o fa-2x"></i>
            <span id="f">F</span>
        </div>
    </div>
  </section>
  <script charset="utf-8">
    sensorMonitorMash();
  </script>
</div>
