<div class="container-fluid">
  <%= render "layouts/userHeader"%>
  <section class="row">
    <form class="form-inline" action="/user/<%=@user.id%>/beer" method="post">
      <div class="col-md-2 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" name="MASH">
            <h3>MASHING</h3>
          </label>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" name="SPARGE">
            <h3>SPARGING</h3>
          </label>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" name="BOIL">
            <h3>BOIL</h3>
          </label>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" name="CHILL">
            <h3>CHILLING</h3>
          </label>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" name="FERMENT">
            <h3>FERMENTATION</h3>
          </label>
        </div>
      </div>
      <div class="col-md-2 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" name="LAGER">
            <h3>LAGERING</h3>
          </label>
        </div>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
      <div class="col-md-2 .col-md-offset-5">
        <button type="submit"> Start Brewin!</button>
      </div>
  </form>
  </section>
</div>
