// Place all the styles related to the brewLog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.smLogo {
  width: 100px;
}
.lgLogo {
  width: 400px;
}

// the signUp button that send form to server
#createUserButton {

}

// A temperature monitoring assistant to your homebrewing
#welcome {
  font-family: helvetica;
  font-size: 2em;
  font-weight: bold;
}

// the lighter lettering before the login link
#loginP {

}

// the link below signUP that routes to the login page
#loginLink {

}
