// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  height: 100px;
  background-color: black;
}

#header h1{
  font-style: helvetica;
  color: white;
}

#navBar {
  padding-top: 2%;
}

#userNav {
  height: 100px;
  background-color: black;
}

#home {
  padding-right: 1%;
  width: 25px;
  color: white;
}

#welcomeUser {
  display: inline;
  color:white;
  font-style: helvetica;
}

#formLogout {
  max-width: 100px;
  display: inline;
}

#logoutUser {
  font-size: 1.5em;
  font-style: helvetica;
  color: white;
  border:none;
  background:none;
  cursor:pointer;
}


.smLogo {
  width: 75px;
}
.lgLogo {
  padding-top: 10%;
  width: 400px;
}

#textLogo {
  display: inline;
}

// the icon for checking the cellar
#cellar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}
#cellar h4 {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-style: helvetica;
}

#newBrew {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}
#newBrew h4 {
  text-align: center;
  padding-top: 40%;
  color: white;
  font-style: helvetica;
}

#progress {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
}

.progress {
  margin-top: 10%;
}

#phase1Prog {
    background-color: violet;

}


#noAction h4 {
  text-align: center;
  color: black;
  font-style: helvetica;
}

// the signUp button that send form to server
#createUserButton {

}

// A temperature monitoring assistant to your homebrewing
#welcome {
  padding-top: 10%;
  max-width: 400px;
  font-family: helvetica;
  font-size: 2em;
  font-weight: bold;
}

// the lighter lettering before the login link
#loginP {

}

// the link below signUP that routes to the login page
#loginLink {

}
