<section class= "row">
  <div class= "col-md-12 clearfix">
    <header id= "header">
      <!-- make a brew logo, insert next to Brew Log -->
      <h1 class="text-left">Brew Log<img class="smLogo" src="/assets/beer_glasses.jpg"/></h1>
    </header>
  </div>
</section>
