<div class = "container-fluid">
  <section class= "row">
    <div class= "col-md-12 clearfix">
      <header id= "header">
        <!-- make a brew logo, insert next to Brew Log -->
        <h1 class="text-left">Brew Log<img class="smLogo" src="/assets/beer_glasses.jpg"/></h1>
      </header>
    </div>
  </section>
  <section class= "row">
    <!-- left side of the screen that shows logo -->
    <div class="col-md-6">
      <img id="indexLogo" class="lgLogo" src="/assets/beer_glasses.jpg"/>
   </div>
   <!-- right side of the screen that give intro and allows
   users to sign up or login -->
   <div class="col-md-6">
     <p id= "welcome">An assistant to your homebrewing</p>
     <button id="signUpButton" onclick="hide()" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSignUp" aria-expanded="false" aria-controls="collapseSignUp">
       Sign up!
     </button>
     <div class="collapse" id="collapseSignUp">
      <form class="signUp" action="/users" method="post">
        <div class="form-group">
         <label class= "sr-only" for="firstName">First Name</label>
         <input type="text" name="firstName" id="firstName" placeholder= "first name">
        </div>
        <div class="form-group">
         <label class= "sr-only" for="lastName">Last Name</label>
         <input type="text" name="lastName" id="lastName" placeholder= "last name">
        </div>
        <div class="form-group">
         <label class= "sr-only" for="email">email</label>
         <input type="email" name="email" id="email" placeholder= "email">
        </div>
        <div class="form-group">
         <label class= "sr-only" for="username">username</label>
         <input type="text" name="username" id="username" placeholder= " username">
        </div>
        <div class="form-group">
         <label class= "sr-only" for="password">password</label>
         <input type="password" name="password" id="password" placeholder= "password">
        </div>
        <button type="submit" class="btn-btn-primary">Sign Up! </button>
      </form>
     </div>
   </div>
 </section>
</div>
